<div style="zoom: 85%;">

    <!-- <input id="my-file-selector" type="file" (change)="uploadData($event)" name="uploadExcel"> -->
    <div>
        <div class="row">
            <div class="col-md-10" style="text-align:center;">
                <h3>Panel de Registro de Atenciones</h3>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-warning btn-sm" style="font-size: 12pt;" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i> Buscar Código Referencia</button>
            </div>

        </div>

    </div>

    <hr>

    <div>

        <div class="card">
            <div class="card-header">
                Asignar Atención
            </div>
            <div class="card-body">
                <form [formGroup]="formularioInicial" (ngSubmit)="cargarPrimerFormulario(formularioInicial.value)">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Ingresar Cod. Referencia</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="Cod. Referencia" formControlName="numeroReferencia" (change)="seleccionarEventNumeroReferencia($event)">
                        </div>
                        <div class="col-md-2">
                            <label>Seleccionar Motorizado</label>
                        </div>
                        <div class="col-md-4" style="margin-bottom: 10px;">
                            <select class="form-control" formControlName="motorizado" (change)="seleccionarEventMotorizado($event)">
                                <option *ngFor="let user of usuarios" >{{user.nombre}}</option>
                            </select>
                        </div>
                        <!-- <div class="col">
                            <a class="btn btn-info" (click)="Buscar()"><i class="fa fa-search fa-lg"></i> Buscar</a>
                        </div> -->
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Nombre Compañia:</label>
                        </div>
                        <div class="col-md-2">
                            <label>{{listaCompleta['nombreCompania']}}</label>
                        </div>

                        <div class="col-md-1">
                            <label>Celular:</label>
                        </div>

                        <div class="col-md-1">
                            <label>{{listaCompleta['telefono']}}</label>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-1">
                            <label>Ubicación</label>
                        </div>
                        <div class="col-md-2">
                            <label>{{listaCompleta['UbicacionGeneral']}}</label>
                        </div>
                        <div class="col-md-1">
                            <label>Dirección</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="Dirección" formControlName="direccionRecojo" readonly>
                        </div>
                        <div class="col-md-1">
                            <label>Placa</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="N° Placa" formControlName="placa" readonly>
                        </div>

                        <div class="col-md-1">
                            <label>Forma Pago</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="FormaPago" formControlName="formaPago" readonly>
                        </div>

                        <!-- <div class="col-md-1">
                            <label>Lat/Lon</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Latitud" formControlName="latitud">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Longitud" formControlName="longitud">
                        </div> -->
                    </div>

                    <br>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="estadoChecboxAgencia" (change)="checkboxAgencia($event)">
                        <label class="form-check-label" for="exampleCheck1">Ingresar Agencia</label>

                    </div>

                    <hr>

                    <div *ngIf="checkBoxAgencia" class="row" style="margin-bottom: 15px;">
                        <div class="col-md-2">
                            <label>Nombre Agencia:</label>
                        </div>
                        <div class="col-md-3" style="margin-bottom: 10px;">
                            <select class="form-control" formControlName="agencia" (change)="seleccionarAgencia($event)">
                                <option *ngFor="let data of agencias">{{data.AGENCIA}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Seleccionar Dirección:</label>
                        </div>
                        <div class="col-md-4" style="margin-bottom: 10px;">
                            <select class="form-control" formControlName="agenciadireccion">
                                <option *ngFor="let data of direcciones['DIRECCIONES']; let i = index">{{data}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-10" style="margin-bottom: 10px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Comentario:</span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea" formControlName="observacion" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col">
                            <button type="submit" *ngIf="btnEnviarVisible" class="btn btn-primary" style="width: inherit; margin:4px" [disabled]="formularioInicial.invalid" tabindex="-1">Enviar</button>
                            <a *ngIf="btnUpdateVisible" class="btn btn-success" style="width: inherit; margin:4px" (click)="ActualizarAtencion()">Actualizar</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <hr>

        <div style="text-align:center">
            <label style="font-size:25pt">Listado de Servicios del día de Hoy</label>
        </div>

        <div style="width: 100%; overflow-x: auto;" class="fixTableHead">
            <table class="table table-sm" style="font-size: 9pt;">
                <thead style="text-align:center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="min-width: 120px;">Fecha Registro</th>
                        <th scope="col" style="min-width: 100px;">Cod. Referencia</th>

                        <th scope="col" style="min-width: 180px;">Compañia</th>
                        <th scope="col" style="min-width: 400px;">Dirección</th>
                        <th scope="col" style="min-width: 220px;">Motorizado</th>
                        <th scope="col" style="min-width: 220px;">Comentario Adm.</th>
                        <th scope="col" style="min-width: 220px;">Comentario Motori.</th>
                        <th scope="col" style="min-width: 120px;">Forma Pago</th>
                        <th scope="col" style="min-width: 120px;">Monto Recojo (S/.)</th>
                        <th scope="col" style="min-width: 220px;">Tiempo de Llegada (min.)</th>
                        <th scope="col" style="min-width: 220px;">Tiempo de Espera (min.)</th>
                        <th scope="col" style="min-width: 120px;">Estado</th>
                        <th scope="col" style="min-width: 120px;">Acciones</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr *ngFor="let dato of servicios; let i = index" [ngClass]="{'naranja': dato['estado'] == 'Anulado'}">
                        <th scope="row" [ngClass]="{'naranja': dato['estado'] == 'Anulado'}">{{i+1}}</th>
                        <td>{{dato['fechaRegistro']}} {{dato['horaRegistro']}} <br> {{dato['usuarioCreacion']}}</td>
                        <td>{{dato['numeroReferencia']}}</td>
                        <td>{{dato['nombreCompania']}}</td>
                        <td>
                            <p>{{dato['direccionRecojo']}}</p>
                            <div class="input-group input-group-sm mb-3" *ngIf="dato.habilitadorAgencia">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Agencia</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly value="{{dato['agencia']}}">
                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly value="{{dato['agenciadireccion']}}">
                            </div>
                        </td>
                        <td>{{dato['motorizado']}}</td>
                        <td>{{dato['observacion']}}</td>
                        <td>{{dato['Observacion']}}</td>
                        <td>{{dato['formaPago']}}</td>
                        <td>{{dato['montoRecibido']}}</td>
                        <td>{{dato['tiempoLlegada'] | number}}</td>
                        <td [ngClass]="{'naranja': dato['estado'] == 'Anulado','blanco': dato['tiempoEspera'] == '', 'verde': dato['tiempoEspera'] <= 10 && dato['tiempoEspera'] >= 0, 'amarillo': dato['tiempoEspera'] <= 15 && dato['tiempoEspera'] > 10, 'rojo': dato['tiempoEspera'] > 15}">{{dato['tiempoEspera'] | number}}</td>
                        <td [ngClass]="{'blanco': dato['estado'] == '', 'verde':dato['estado'] == 'Finalizado','amarillo': dato['estado'] == 'Llegada al Destino'}">{{dato['estado']}} <br> {{dato['dtFinRecorrido']}} <br> {{dato['motivo']}}</td>
                        <td>
                            <button type="button" style="margin-right: 10px;" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" (click)="Editar(dato['uid'])"><i class="fa fa-pencil-square-o"></i></button>
                            <button type="button" style="margin-right: 10px;" class="btn btn-danger btn-sm" (click)="Eliminar(dato['uid'])"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lista de Código de Referencia</h4>
                <button type="button" class="close" #closebutton data-dismiss="modal">&times;</button>
            </div>
            <form [formGroup]="formularioBuscarCodigoReferencia" (ngSubmit)="buscarCodigoReferencia(formularioBuscarCodigoReferencia.value)">
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-10">
                            <input type="text" class="form-control" formControlName="numeroReferencia">
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-warning">Buscar</button>
                        </div>

                    </div>

                    <hr>
                    <div>
                        <div style="width: 100%; overflow-x: auto;">
                            <table class="table table-sm" style="font-size: 9pt;">
                                <thead style="text-align:center">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" style="min-width: 120px;">Fecha Registro</th>
                                        <th scope="col" style="min-width: 100px;">Cod. Referencia</th>

                                        <th scope="col" style="min-width: 180px;">Compañia</th>
                                        <th scope="col" style="min-width: 400px;">Dirección</th>
                                        <th scope="col" style="min-width: 220px;">Motorizado</th>
                                        <th scope="col" style="min-width: 80px;">Placa</th>
                                        <th scope="col" style="min-width: 220px;">Comentario Adm.</th>
                                        <th scope="col" style="min-width: 220px;">Comentario Motori.</th>
                                        <th scope="col" style="min-width: 120px;">Forma Pago</th>
                                        <th scope="col" style="min-width: 120px;">Monto Recojo (S/.)</th>
                                        <th scope="col" style="min-width: 220px;">Tiempo de Llegada (min.)</th>
                                        <th scope="col" style="min-width: 220px;">Tiempo de Espera (min.)</th>
                                        <th scope="col" style="min-width: 120px;">Estado</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:center">
                                    <tr *ngFor="let dato of serviciosBusqueda; let i = index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{dato['fechaRegistro']}} {{dato['horaRegistro']}}</td>
                                        <td>{{dato['numeroReferencia']}}</td>
                                        <td>{{dato['nombreCompania']}}</td>
                                        <td>
                                            <p>{{dato['direccion']}}</p>
                                            <div class="input-group input-group-sm mb-3" *ngIf="dato.habilitadorAgencia">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Agencia</span>
                                                </div>
                                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly value="{{dato['agencia']}}">
                                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly value="{{dato['agenciadireccion']}}">
                                            </div>
                                        </td>
                                        <td>{{dato['motorizado']}}</td>
                                        <td>{{dato['placa']}}</td>
                                        <td>{{dato['observacion']}}</td>
                                        <td>{{dato['Observacion']}}</td>
                                        <td>{{dato['formaPago']}}</td>
                                        <td>{{dato['montoRecibido']}}</td>
                                        <td>{{dato['tiempoLlegada'] | number}}</td>
                                        <td [ngClass]="{'blanco': dato['tiempoEspera'] == '', 'verde': dato['tiempoEspera'] <= 10 && dato['tiempoEspera'] >= 0, 'amarillo': dato['tiempoEspera'] <= 15 && dato['tiempoEspera'] > 10, 'rojo': dato['tiempoEspera'] > 15}">{{dato['tiempoEspera'] | number}}</td>
                                        <td [ngClass]="{'blanco': dato['estado'] == '', 'verde':dato['estado'] == 'Finalizado','amarillo': dato['estado'] == 'Llegada al Destino'}">{{dato['estado']}} <br> {{dato['dtFinRecorrido']}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Editar -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lista de Código de Referencia</h4>
                <button type="button" class="close" #closebutton data-dismiss="modal">&times;</button>
            </div>
            <form [formGroup]="formularioBuscarCodigoReferencia" (ngSubmit)="buscarCodigoReferencia(formularioBuscarCodigoReferencia.value)">
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-10">
                            <input type="text" class="form-control" formControlName="numeroReferencia">
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-warning">Buscar</button>
                        </div>

                    </div>

                    <hr>
                    <div>
                        <div style="width: 100%; overflow-x: auto;">
                            <table class="table table-sm" style="font-size: 9pt;">
                                <thead style="text-align:center">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" style="min-width: 120px;">Fecha Registro</th>
                                        <th scope="col" style="min-width: 100px;">Cod. Referencia</th>

                                        <th scope="col" style="min-width: 180px;">Compañia</th>
                                        <th scope="col" style="min-width: 400px;">Dirección</th>
                                        <th scope="col" style="min-width: 220px;">Motorizado</th>
                                        <th scope="col" style="min-width: 80px;">Placa</th>
                                        <th scope="col" style="min-width: 220px;">Comentario Adm.</th>
                                        <th scope="col" style="min-width: 220px;">Comentario Motori.</th>
                                        <th scope="col" style="min-width: 120px;">Forma Pago</th>
                                        <th scope="col" style="min-width: 120px;">Monto Recojo (S/.)</th>
                                        <th scope="col" style="min-width: 220px;">Tiempo de Llegada (min.)</th>
                                        <th scope="col" style="min-width: 220px;">Tiempo de Espera (min.)</th>
                                        <th scope="col" style="min-width: 120px;">Estado</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:center">
                                    <tr *ngFor="let dato of serviciosBusqueda; let i = index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{dato['fechaRegistro']}} {{dato['horaRegistro']}}</td>
                                        <td>{{dato['numeroReferencia']}}</td>
                                        <td>{{dato['nombreCompania']}}</td>
                                        <td>
                                            <p>{{dato['direccion']}}</p>
                                            <div class="input-group input-group-sm mb-3" *ngIf="dato.habilitadorAgencia">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Agencia</span>
                                                </div>
                                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly value="{{dato['agencia']}}">
                                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly value="{{dato['agenciadireccion']}}">
                                            </div>
                                        </td>
                                        <td>{{dato['motorizado']}}</td>
                                        <td>{{dato['placa']}}</td>
                                        <td>{{dato['observacion']}}</td>
                                        <td>{{dato['Observacion']}}</td>
                                        <td>{{dato['formaPago']}}</td>
                                        <td>{{dato['montoRecibido']}}</td>
                                        <td>{{dato['tiempoLlegada'] | number}}</td>
                                        <td [ngClass]="{'blanco': dato['tiempoEspera'] == '', 'verde': dato['tiempoEspera'] <= 10 && dato['tiempoEspera'] >= 0, 'amarillo': dato['tiempoEspera'] <= 15 && dato['tiempoEspera'] > 10, 'rojo': dato['tiempoEspera'] > 15}">{{dato['tiempoEspera'] | number}}</td>
                                        <td [ngClass]="{'blanco': dato['estado'] == '', 'verde':dato['estado'] == 'Finalizado','amarillo': dato['estado'] == 'Llegada al Destino'}">{{dato['estado']}} <br> {{dato['dtFinRecorrido']}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>