/* .tableFixHead {
    overflow: auto;
    height: 85vh;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 7px 12px;
    font-size: small;
}

th {
    background: #eee;
}
 */

.blanco {
    background-color: white;
}

.verde {
    background-color: #58D68D;
}

.amarillo {
    background-color: #F7DC6F;
}

.rojo {
    background-color: #EC7063;
}

.naranja {
    background-color: #EC9669;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal-dialog {
    max-width: 1600px;
    /* New width for default modal */
}

.modal-title {
    width: 100%;
    text-align: center;
}

.close {
    margin: 0;
}

.fixTableHead {
    overflow-y: auto;
    height: 100vh;
}

.fixTableHead thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    /* height: 100vh; */
}

th,
th {
    background: #FFFFFF;
}