<div>
    <div style="text-align: center;">
        <h3>Reporte de Piloto</h3>
    </div>

    <hr>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form>

                <div class="form-row">
                    <div class="col-2">
                        <label style="text-align: center;">N°:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="State">
                    </div>

                    <div class="col-2">
                        <label style="text-align: center;">UME:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="State">
                    </div>

                </div>

                <hr>

                <div class="form-row" style="margin-top: 30dp;">
                    <div class="col">
                        <label>Nombre del Piloto:</label>
                        <input type="text" class="form-control" placeholder="State">
                    </div>
                </div>

                <hr>

                <div class="form-row">
                    <div class="col-6">
                        <label style="text-align: center;">Fecha Salida:</label>
                        <input type="date" class="form-control" style="size: 4;" placeholder="State">
                    </div>

                    <div class="col-6">
                        <label style="text-align: center;">Fecha Llegada:</label>
                        <input type="date" class="form-control" style="size: 4;" placeholder="State">
                    </div>
                </div>

                <div class="form-row" style="margin-top: 10px;">
                    <div class="col-6">
                        <label style="text-align: center;">Hora Salida:</label>
                        <input type="time" class="form-control" style="size: 4;" placeholder="State">
                    </div>

                    <div class="col-6">
                        <label style="text-align: center;">Hora Llegada:</label>
                        <input type="time" class="form-control" style="size: 4;" placeholder="State">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- <div>
        <div class="card">
            <div class="card-header">
                Datos Generales
            </div>
            <div class="card-body">
                <form>

                    <div class="form-row">
                        <div class="col-2">
                            <label style="text-align: center;">N°:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="State">
                        </div>

                        <div class="col-2">
                            <label style="text-align: center;">UME:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="State">
                        </div>

                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 30dp;">
                        <div class="col">
                            <label>Nombre del Piloto:</label>
                            <input type="text" class="form-control" placeholder="State">
                        </div>
                    </div>

                    <hr>

                    <div class="form-row">
                        <div class="col-6">
                            <label style="text-align: center;">Fecha Salida:</label>
                            <input type="date" class="form-control" style="size: 4;" placeholder="State">
                        </div>

                        <div class="col-6">
                            <label style="text-align: center;">Fecha Llegada:</label>
                            <input type="date" class="form-control" style="size: 4;" placeholder="State">
                        </div>
                    </div>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-6">
                            <label style="text-align: center;">Hora Salida:</label>
                            <input type="time" class="form-control" style="size: 4;" placeholder="State">
                        </div>

                        <div class="col-6">
                            <label style="text-align: center;">Hora Llegada:</label>
                            <input type="time" class="form-control" style="size: 4;" placeholder="State">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
</div>