<div>
    <div style="text-align: center;">
        <h3>{{title}}</h3>
    </div>

    <hr>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" (click)="itemsMenu('1')" [ngClass]="{'active': opcion == 1}" style="min-width: 10px;">1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="itemsMenu('2')" [ngClass]="{'active': opcion == 2}" style="min-width: 10px;">2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="itemsMenu('3')" [ngClass]="{'active': opcion == 3}" style="min-width: 10px;">3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="itemsMenu('4')" [ngClass]="{'active': opcion == 4}" style="min-width: 10px;">4</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form [formGroup]="miFormulario" (ngSubmit)="enviar(miFormulario.value)">

                <div *ngIf="opcion == 1">

                    <div class="form-row" style="margin-top: 10dp;">
                        <div class="col">
                            <label>N° de la Unidad:</label>
                            <div class="form-group">
                                <select class="custom-select" formControlName="vehiculo" (change)="onChange($event.target.value)">
                                  <option value="UME12">UME 12</option>
                                  <option value="UME20">UME 20</option>
                                  <option value="UME21">UME 21</option>
                                  <option value="UME23">UME 23</option>
                                  <option value="UME24">UME 24</option>
                                  <option value="UME25">UME 25</option>
                                  <option value="UME25">UME 26</option>
                                  <option value="UME27">UME 27</option>
                                  <option value="UME27">UME 28</option>
                                  <option value="UME29">UME 29</option>
                                  <option value="UME30">UME 30</option>
                                  <option value="UME30">UME 31</option>
                                  <option value="UME30">UME 32</option>
                                  <option value="UME30">UME 33</option>
                                  <option value="UME30">UME 34</option>
                                  <option value="UME35">UME 35</option>
                                  <option value="UME36">UME 36</option>
                                  <option value="UME37">UME 37</option>
                                  <option value="UME38">UME 38</option>
                                  <option value="CONSULTA15">CONS 15</option>
                                  <option value="CONSULTA16">CONS 16</option>
                                  <option value="CONSULTA19">CONS 19</option>
                                  <option value="CONSULTA21">CONS 21</option>
                                  <option value="CONSULTA22">CONS 22</option>
                                  <option value="CONSULTA23">CONS 23</option>
                                </select>
                                <div class="invalid-feedback">Example invalid custom select feedback</div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10dp;">
                        <div class="col">
                            <label>Placa:</label>
                            <input type="text" class="form-control" formControlName="placa" readonly>
                        </div>
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10dp;">
                        <div class="col">
                            <label>Nombre del Piloto:</label>
                            <input type="text" class="form-control" formControlName="nombrePiloto" readonly>
                        </div>
                    </div>

                    <hr>

                    <div class="form-row">
                        <div class="col-6">
                            <label style="text-align: center;">Fecha Salida:</label>
                            <input type="date" class="form-control" style="size: 4;" formControlName="fechaSalida">
                        </div>

                        <div class="col-6">
                            <label style="text-align: center;">Fecha Llegada:</label>
                            <input type="date" class="form-control" style="size: 4;" formControlName="fechaLlegada">
                        </div>
                    </div>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-6">
                            <label style="text-align: center;">Hora Salida:</label>
                            <input type="time" class="form-control" style="size: 4;" formControlName="horaSalida">
                        </div>

                        <div class="col-6">
                            <label style="text-align: center;">Hora Llegada:</label>
                            <input type="time" class="form-control" style="size: 4;" formControlName="horaLlegada">
                        </div>
                    </div>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-6">
                            <label style="text-align: center;">Km. de Salida:</label>
                            <input type="number" class="form-control" style="size: 4;" formControlName="kmSalida" readonly>
                        </div>

                        <div class="col-6">
                            <label style="text-align: center;">Km. de Llegada:</label>
                            <input type="number" class="form-control" style="size: 4;" min="kmSalida" formControlName="kmLlegada">
                        </div>
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-2">
                            <label style="text-align: center;">Llenado de Combustible:</label>
                        </div>
                        <div class="col-10" style="text-align: center;">
                            <div class="form-check form-check-inline" style="margin-right: 30px;">
                                <input class="form-check-input" type="radio" name="llenadoCombustible" id="llenadoCombustible1" (click)="onChangeLlenadoCombustible(true, 'Si')" value="Si" formControlName="llenadoCombustible">
                                <label class="form-check-label" for="llenadoCombustible1">Si</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="llenadoCombustible" id="llenadoCombustible2" (click)="onChangeLlenadoCombustible(false, 'No')" value="No" formControlName="llenadoCombustible">
                                <label class="form-check-label" for="llenadoCombustible2">No</label>
                            </div>
                        </div>
                    </div>



                    <div class="form-group" *ngIf="habilitadorEstadoCombustible">
                        <hr>
                        <label>Seleccione nombre de la gasolinera</label>
                        <div class="form-group">
                            <select class="custom-select" formControlName="gasolinera">
                              <option value="Repsol">Repsol</option>
                              <option value="Primax">Primax</option>
                            </select>
                        </div>
                        <hr>

                        <div class="form-row" style="margin-top: 10px;">
                            <div class="col-4">
                                <label style="text-align: center;">Kilometraje:</label>
                            </div>

                            <div class="col-8 form-group">
                                <input type="number" class="form-control" formControlName="gasolineraKilometraje">
                            </div>
                        </div>

                        <div class="form-row" style="margin-top: 10px;">
                            <div class="col-4">
                                <label style="text-align: center;">Tipo de Combustible:</label>
                            </div>

                            <div class="col-8 form-group">
                                <input type="text" class="form-control" value="{{tipoCombustible}}" readonly>
                            </div>
                        </div>

                        <div class="form-row" style="margin-top: 10px;">
                            <div class="col-4">
                                <label style="text-align: center;">Galones:</label>
                            </div>

                            <div class="col-8 form-group">
                                <input type="number" class="form-control" formControlName="gasolineraGalones">
                            </div>
                        </div>

                        <div class="form-row" style="margin-top: 10px;">
                            <div class="col-4">
                                <label style="text-align: center;">TOTAL (S/.):</label>
                            </div>

                            <div class="col-8 form-group">
                                <input type="number" class="form-control" formControlName="gasolineraTotal">
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="opcion == 2">

                    <div class="form-row">
                        <div class="col-6">
                            <label style="text-align: center;">Combustible Sal.:</label>
                            <input type="text" class="form-control" style="size: 4;" formControlName="combustibleSalida" readonly>
                        </div>

                        <div class="col-6">
                            <label style="text-align: center;">Combustible Lleg.:</label>
                            <div class="form-group">
                                <select class="custom-select" formControlName="combustibleLlegada">
                                  <option value="1/4">1/4</option>
                                  <option value="1/2">1/2</option>
                                  <option value="3/4">3/4</option>
                                  <option value="Full">Full</option>
                                </select>
                                <div class="invalid-feedback">Example invalid custom select feedback</div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-row" style="margin-top: 10px;">
                        <div class="col-4">
                            <label style="text-align: center;">Combustible:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" formControlName="combustible">
                        </div>
                    </div> -->

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-4">
                            <label style="text-align: center;">Aceite:</label>
                        </div>

                        <div class="col-8 form-group">
                            <select class="custom-select" formControlName="aceite">
                                <option value="1/4">1/4</option>
                                <option value="1/2">1/2</option>
                                <option value="3/4">3/4</option>
                                <option value="Full">Full</option>
                            </select>
                            <div class="invalid-feedback">Example invalid custom select feedback</div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-4">
                            <label style="text-align: center;">Refrigerante:</label>
                        </div>
                        <div class="col-8">
                            <select class="custom-select" formControlName="refrigerante">
                                <option value="1/4">1/4</option>
                                  <option value="1/2">1/2</option>
                                  <option value="3/4">3/4</option>
                                  <option value="Full">Full</option>
                            </select>
                        </div>
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-4">
                            <label style="text-align: center;">Hidrolina:</label>
                        </div>
                        <div class="col-8">
                            <select class="custom-select" formControlName="hidrolina">
                                <option value="1/4">1/4</option>
                                  <option value="1/2">1/2</option>
                                  <option value="3/4">3/4</option>
                                  <option value="Full">Full</option>
                            </select>
                        </div>
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-4">
                            <label style="text-align: center;">Líquido de Freno:</label>
                        </div>
                        <div class="col-8">
                            <select class="custom-select" formControlName="liquidoFreno">
                                <option value="1/4">1/4</option>
                                  <option value="1/2">1/2</option>
                                  <option value="3/4">3/4</option>
                                  <option value="Full">Full</option>
                            </select>
                        </div>
                    </div>

                    <hr>

                    <!-- <div class="form-row" style="margin-top: 10px;">
                        <div class="col-4">
                            <label style="text-align: center;">Presión de Llantas:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" formControlName="presionLlantas">
                        </div>
                    </div> -->

                    <div class="form-row">
                        <div class="col-4">
                            <label style="text-align: center; font-size: 10pt;">Presión Frontal Izq.:</label>
                            <select class="custom-select" formControlName="presionLlantaFrontalIzq">
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="35">35</option>
                                <option value="40">40</option>
                                <option value="45">45</option>
                                <option value="50">50</option>
                                <option value="55">55</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                        <div *ngIf="tipoVehiculo == 'Ambulancia'" class="col-4" style="height: 100%;">
                            <img style="width: 100%;" src="../../../../../assets/img/ambulancia.jpg" alt="">
                        </div>
                        <div *ngIf="tipoVehiculo == 'Auto'" class="col-4" style="height: 100%;">
                            <img style="width: 100%;" src="../../../../../assets/img/auto.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <label style="text-align: center; font-size: 10pt;">Presión Frontal Der.</label>
                            <select class="custom-select" formControlName="presionLlantaFrontalDer">
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="35">35</option>
                                <option value="40">40</option>
                                <option value="45">45</option>
                                <option value="50">50</option>
                                <option value="55">55</option>
                                <option value="60">60</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-4">
                            <select class="custom-select" formControlName="presionLlantaPosteriorIzq">
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="35">35</option>
                                <option value="40">40</option>
                                <option value="45">45</option>
                                <option value="50">50</option>
                                <option value="55">55</option>
                                <option value="60">60</option>
                            </select>
                            <label style="text-align: center; font-size: 10pt;">Presión Posterior Izq.:</label>
                        </div>
                        <div class="col-4" style="font-size: 10pt;">
                            <select class="custom-select" formControlName="presionLlantaRepuesto">
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="35">35</option>
                                <option value="40">40</option>
                                <option value="45">45</option>
                                <option value="50">50</option>
                                <option value="55">55</option>
                                <option value="60">60</option>
                            </select>
                            <label style="text-align: center;">Llanta de Respuesto:</label>
                        </div>
                        <div class="col-4">
                            <select class="custom-select" formControlName="presionLlantaPosteriorDer">
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="35">35</option>
                                <option value="40">40</option>
                                <option value="45">45</option>
                                <option value="50">50</option>
                                <option value="55">55</option>
                                <option value="60">60</option>
                            </select>
                            <label style="text-align: center; font-size: 10pt;">Presión Posterior Der.:</label>
                        </div>

                    </div>



                </div>

                <div *ngIf="opcion == 3">
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-2">
                            <label style="text-align: center;">Motor:</label>
                        </div>
                        <div class="col-10" style="text-align: right;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="motor" id="motor1" (click)="onChangeMotor(false, 'Conforme')" value="Conforme" formControlName="motor">
                                <label class="form-check-label" for="motor1">Conforme</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="motor" id="motor2" (click)="onChangeMotor(true, 'NoConforme')" value="NoConforme" formControlName="motor">
                                <label class="form-check-label" for="motor2">No Conforme</label>
                            </div>

                        </div>

                    </div>

                    <div class="form-group" *ngIf="habilitadorMotor">
                        <input type="text" class="form-control" placeholder="Ingresar observación" formControlName="motorObservacion">
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-2">
                            <label style="text-align: center;">Sistema Eléctrico:</label>
                        </div>
                        <div class="col-10" style="text-align: right;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sistemaElectrico" id="sistemaElectrico1" (click)="onChangeSistemaElectrico(false, 'Conforme')" value="Conforme" formControlName="sistemaElectrico">
                                <label class="form-check-label" for="sistemaElectrico1">Conforme</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sistemaElectrico" id="sistemaElectrico2" (click)="onChangeSistemaElectrico(true, 'NoConforme')" value="NoConforme" formControlName="sistemaElectrico">
                                <label class="form-check-label" for="sistemaElectrico2">No Conforme</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="habilitadorSistemaElectrico">
                        <input type="text" class="form-control" placeholder="Ingresar observación" formControlName="sistemaElectricoObservacion">
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-2">
                            <label style="text-align: center;">Susp. y/o Direcc.:</label>
                        </div>
                        <div class="col-10" style="text-align: right;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="suspensionDireccion" id="suspensionDireccion1" (click)="onChangesuspensionDireccion(false,'Conforme')" value="Conforme" formControlName="suspensionDireccion">
                                <label class="form-check-label" for="suspensionDireccion1">Conforme</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="suspensionDireccion" id="suspensionDireccion2" (click)="onChangesuspensionDireccion(true,'NoConforme')" value="NoConforme" formControlName="suspensionDireccion">
                                <label class="form-check-label" for="suspensionDireccion2">No Conforme</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="habilitadorSuspensionDireccion">
                        <input type="text" class="form-control" placeholder="Ingresar observación" formControlName="suspensionDireccionObservacion">
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-2">
                            <label style="text-align: center;">Caja de cambios:</label>
                        </div>
                        <div class="col-10" style="text-align: right;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cajaCambios" id="cajaCambios1" (click)="onChangecajaCambios(false,'Conforme')" value="Conforme" formControlName="cajaCambios">
                                <label class="form-check-label" for="cajaCambios1">Conforme</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cajaCambios" id="cajaCambios2" (click)="onChangecajaCambios(true,'NoConforme')" value="NoConforme" formControlName="cajaCambios">
                                <label class="form-check-label" for="cajaCambios2">No Conforme</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="habilitadorCajaCambios">
                        <input type="text" class="form-control" placeholder="Ingresar observación" formControlName="cajaCambiosObservacion">
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-2">
                            <label style="text-align: center;">Frenos:</label>
                        </div>
                        <div class="col-10" style="text-align: right;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frenos" id="frenos1" (click)="onChangefrenos(false,'Conforme')" value="Conforme" formControlName="frenos">
                                <label class="form-check-label" for="frenos1">Conforme</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="frenos" id="frenos2" (click)="onChangefrenos(true,'NoConforme')" value="NoConforme" formControlName="frenos">
                                <label class="form-check-label" for="frenos2">No Conforme</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="habilitadorFrenos">
                        <input type="text" class="form-control" placeholder="Ingresar observación" formControlName="frenosObservacion">
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-4">
                            <label style="text-align: center;">Herramientas:</label>
                        </div>
                        <div class="col-8" style="text-align: left; padding-left: 20px;">
                            <!--                             <input type="text" class="form-control" formControlName="herramientas">
 -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="gata" formControlName="gata">
                                <label class="form-check-label" for="gata">
                                  Gata
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="llaveRueda" formControlName="llaveRueda">
                                <label class="form-check-label" for="llaveRueda">
                                  Llave de rueda
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="palanca" formControlName="palanca">
                                <label class="form-check-label" for="palanca">
                                  Palanca
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="seguroRuedas" formControlName="seguroRuedas">
                                <label class="form-check-label" for="seguroRuedas">
                                  Seguro de ruedas
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="dadoPrueda" formControlName="dadoPrueda">
                                <label class="form-check-label" for="dadoPrueda">
                                  Dado P/Rueda 
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="alicate" formControlName="alicate">
                                <label class="form-check-label" for="alicate">
                                  Alicate
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tapa" formControlName="tapa">
                                <label class="form-check-label" for="tapa">
                                  Tapa de ruedas "Logo"
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="destornillador" formControlName="destornillador">
                                <label class="form-check-label" for="destornillador">
                                  Destornillador
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="medidorAire" formControlName="medidorAire">
                                <label class="form-check-label" for="medidorAire">
                                  Medidor de aire
                                </label>
                            </div>

                        </div>
                    </div>

                    <hr>

                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col-4">
                            <label style="text-align: center;">Doc. de la Unidad:</label>
                        </div>
                        <div class="col-8" style="text-align: left; padding-left: 20px;">
                            <!--                             <input type="text" class="form-control" formControlName="docUnidad">
 -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tarjetaPropiedad" formControlName="tarjetaPropiedad">
                                <label class="form-check-label" for="tarjetaPropiedad">
                                  Tarjeta de propiedad
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="soat" formControlName="soat">
                                <label class="form-check-label" for="soat">
                                  SOAT
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="revisionTecnica" formControlName="revisionTecnica">
                                <label class="form-check-label" for="revisionTecnica">
                                  Revisión Técnica
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- <hr>

                    <div class="form-group" style="margin-top: 10px;">
                        <label for="exampleFormControlTextarea1">Conformidad Piloto Saliente</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="conformidadPilotoSaliente"></textarea>
                    </div>

                    <hr>

                    <div class="form-group" style="margin-top: 10px;">
                        <label for="exampleFormControlTextarea1">Conformidad Piloto Entrante</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="conformidadPilotoEntrante"></textarea>
                    </div> -->


                    <!-- Sección para cargar archivo -->

                </div>

                <div *ngIf="opcion == 4">

                    <!-- Lado Frontal -->

                    <div class="form-row" style="margin-top: 10dp;">

                        <div class="col">


                            <div class="card text-center">
                                <div class="card-header">
                                    <label>Lado Frontal:</label>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <label for="">Ploteo Frontal: </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ploteoFrontal" id="ploteoFrontal1" value="Conforme" formControlName="ploteoFrontal">
                                        <label class="form-check-label" for="ploteoFrontal1">Conforme</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ploteoFrontal" id="ploteoFrontal2" value="No Conforme" formControlName="ploteoFrontal">
                                        <label class="form-check-label" for="ploteoFrontal2">No Conforme</label>
                                    </div>

                                    <div style="margin: 20px;">
                                        <input type="file" (change)="ladoFrontal($event)" accept="image/*" formControlName="validadorFrontal" capture/>
                                    </div>
                                </div>
                                <div class="card-footer text-muted">
                                    <div *ngIf="currentFileUpload" class="progress mt-2">
                                        <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ porcentajeFrontal }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: porcentajeFrontal + '%' }">
                                            {{ porcentajeFrontal }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- Lado Izquierdo -->

                    <div class="form-row" style="margin-top: 10dp;">

                        <div class="col">


                            <div class="card text-center">
                                <div class="card-header">
                                    <label>Lado Izquierdo:</label>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <label for="">Ploteo Izquierdo: </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ploteoIzquierdo" id="ploteoIzquierdo1" value="Conforme" formControlName="ploteoIzquierdo">
                                        <label class="form-check-label" for="ploteoIzquierdo1">Conforme</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ploteoIzquierdo" id="ploteoIzquierdo2" value="No Conforme" formControlName="ploteoIzquierdo">
                                        <label class="form-check-label" for="ploteoIzquierdo2">No Conforme</label>
                                    </div>

                                    <div style="margin: 20px;">
                                        <input type="file" (change)="ladoIzquierdo($event)" accept="image/*" formControlName="validadorIzquierdo" capture/>
                                    </div>
                                </div>
                                <div class="card-footer text-muted">
                                    <div *ngIf="currentFileUpload" class="progress mt-2">
                                        <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ porcentajeIzquierda }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: porcentajeIzquierda + '%' }">
                                            {{ porcentajeIzquierda }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- Lado Derecho -->

                    <div class="form-row" style="margin-top: 10dp;">

                        <div class="col">

                            <div class="card text-center">
                                <div class="card-header">
                                    <label>Lado Derecho:</label>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <label for="">Ploteo Derecho: </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ploteoDerecho" id="ploteoDerecho1" value="Conforme" formControlName="ploteoDerecho">
                                        <label class="form-check-label" for="ploteoDerecho1">Conforme</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ploteoDerecho" id="ploteoDerecho2" value="No Conforme" formControlName="ploteoDerecho">
                                        <label class="form-check-label" for="ploteoDerecho2">No Conforme</label>
                                    </div>

                                    <div style="margin: 20px;">
                                        <input type="file" (change)="ladoDerecho($event)" accept="image/*" formControlName="validadorDerecho" capture/>
                                    </div>
                                </div>
                                <div *ngIf="currentFileUpload" class="progress mt-2">
                                    <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ porcentajeDerecha }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: porcentajeDerecha + '%' }">
                                        {{ porcentajeDerecha }}%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- Lado Posterior -->

                    <div class="form-row" style="margin-top: 10dp;">

                        <div class="col">


                            <div class="card text-center">
                                <div class="card-header">
                                    <label>Lado Posterior:</label>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <label for="">Ploteo Posterior: </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ploteoPosterior" id="ploteoPosterior1" value="true" formControlName="ploteoPosterior">
                                        <label class="form-check-label" for="ploteoPosterior1">Conforme</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="ploteoPosterior" id="ploteoPosterior2" value="false" formControlName="ploteoPosterior">
                                        <label class="form-check-label" for="ploteoPosterior2">No Conforme</label>
                                    </div>

                                    <div style="margin: 20px;">
                                        <input type="file" (change)="ladoPosterior($event)" accept="image/*" formControlName="validadorPosterior" capture/>
                                    </div>
                                </div>
                                <div *ngIf="currentFileUpload" class="progress mt-2">
                                    <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ porcentajePosterior }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: porcentajePosterior + '%' }">
                                        {{ porcentajePosterior }}%
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="form-group" style="margin-top: 10px;">
                        <button type="submit" [disabled]="miFormulario.invalid" class="btn btn-primary">Cargar Datos</button>
                        <!-- <button type="submit" class="btn btn-primary">Cargar Datos</button> -->
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>