<div style="overflow-x:auto;" class="texto">
    <table style="width: 100%;">
        <thead class="table-dark">
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col" style="min-width: 220px; max-width: 100px;">Pedido</th>
                <th scope="col">Cantidad (Kg)</th>
                <th scope="col">Observación</th>
                <th scope="col">Estado</th>
                <th scope="col">Comentario</th>
                <th scope="col" style="min-width: 150px; max-width: 100px;">Fecha</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody *ngFor="let valores of valoresPedidos; let i = index">

            <tr *ngFor="let pedidos of valores.pedidos; let j = index">

                <th scope="row" *ngIf="j == 0" rowspan="48" style="border-top: solid; border-bottom: solid; border-left: solid;">{{valores['cliente']}}</th>
                <td style="border-top: solid; border-top: solid; border-bottom: solid; width: 220;">{{pedidos['pedido']}}</td>
                <td style="border-top: solid; border-top: solid; border-bottom: solid;">{{pedidos['cantidad']}}</td>
                <td style="border-top: solid; border-top: solid; border-bottom: solid;">{{pedidos['observacion']}}</td>
                <td style="border-top: solid; border-top: solid; border-bottom: solid;" [ngClass]="getClassPrioridad(valores['prioridad'],pedidos['estadoAlmacen'])">{{pedidos['estadoAlmacen']}}</td>
                <td style="border-top: solid; border-top: solid; border-bottom: solid;">{{pedidos['comentarioAlmacen']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid; width: 150;">
                    <div>{{valores['fecha']}}</div>
                    <div>{{valores['hora']}}</div>
                </td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid; border-right: solid;"><button class="btn btn-primary" (click)="open(mymodal,j,valores['uid'])" [disabled]="(pedidos['estadoAlmacen'] == 'Preparación Completada')? true:false">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Pedido preparado</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">


        <div class="mb-3">
            <select class="form-select" [(ngModel)]="estado" name="estado" aria-label="Default select example">
                <option selected value="Preparación Completada">Preparación Completada</option>
                <option value="Preparación Parcial">Preparación Parcial</option>
                <option value="No Preparado">No Preparado</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Comentario: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="comentario" name="comentario"></textarea>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
</ng-template>