.rango-rojo {
    color: rgb(255, 0, 0);
}

.preparado-completo {
    background-color: #ABEBC6;
}

.preparado-parcial {
    background-color: #F9E79F;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
    font-family: sans-serif;
    font-weight: inherit;
}

.texto {
    font-size: 15px;
}