<div style="overflow-x:auto;" class="texto">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">CLIENTE</th>
                <th scope="col" style="min-width: 220px; max-width: 100px;">PEDIDO</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">CANTIDAD (Kg)</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">OBSERVACIÓN</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">ESTADO (Almacén)</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">COMENTARIO (Almacén)</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">ESTADO (Oficina)</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">COMENTARIO (Oficina)</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">SOLICITANTE</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">FECHA</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">MODALIDAD DE PAGO</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">PAGO FINALIZADO</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">EDITAR</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">AÑADIR</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">COBRANZA</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let valores of valoresPedidos; let i = index">
                <th scope="row" style="vertical-align: inherit; text-align: center; border-top: solid; border-left: solid; border-bottom: solid; ">{{i+1}}</th>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['cliente']}}</td>
                <td colspan="5" style="padding: 0px; border-top: solid; border-bottom: solid;">
                    <div *ngFor="let pedidos of valores.pedidos; let j = index">
                        <td style="vertical-align: inherit; width: 220px; text-align: center; height: 80px;">{{pedidos['pedido']}}</td>
                        <td style="vertical-align: inherit; width: 120px; text-align: center; height: 80px;">{{pedidos['cantidad']}}</td>
                        <td style="vertical-align: inherit; width: 120px; text-align: center; height: 80px;">{{pedidos['observacion']}}</td>
                        <!-- <td style="width: 120px; text-align: center;">{{pedidos['estadoOficina']}}</td>
                        <td style="width: 120px; text-align: center;">{{pedidos['comentarioOficina']}}</td> -->
                        <td style="vertical-align: inherit; width: 120px; text-align: center; height: 80px;" [ngClass]="getClassEstadoAlmacen(valores['prioridad'],pedidos['estadoAlmacen'])">{{pedidos['estadoAlmacen']}}</td>
                        <td style=" vertical-align: inherit; width: 120px; text-align: center; height: 80px;" [ngClass]="getClassEstadoAlmacen(valores['prioridad'],pedidos['estadoAlmacen'])">{{pedidos['comentarioAlmacen']}}</td>
                    </div>
                </td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;" [ngClass]="getClassEstado(valores['prioridad'],valores['estadoOficina'])">{{valores['estadoOficina']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['comentarioOficina']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['solicitante']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">
                    <div>{{valores['fecha']}}</div>
                    <div>{{valores['hora']}}</div>
                </td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['modalidad']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['pagoFinalizado']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;"><button class="btn btn-warning" (click)="open(mymodal, valores['uid'])">Editar</button></td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;"><button class="btn btn-primary" (click)="openAgregar(agregaritem, valores['uid'])">Añadir</button></td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;"><button class="btn btn-success" (click)="enviarCobranza(valores['uid'])">Enviar a cobranza</button></td>


            </tr>
        </tbody>
    </table>

</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Pedido</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">


        <div class="mb-3" style="overflow-x:auto;">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>PEDIDO</th>
                        <th>CANTIDAD</th>
                        <th>OBSERVACIÓN</th>
                        <!-- <th>ESTADO (Almacén)</th> -->
                        <!-- <th>ESTADO (Oficina)</th> -->
                    </tr>
                </thead>
                <tbody *ngFor="let editar of pedidosEditar; let i = index">
                    <tr *ngFor="let pedidos of editar.pedidos; let j = index">

                        <td>
                            <input type="text" [value]="pedidos['pedido']" (change)="editarPedidos('pedido',j,$event)">
                        </td>
                        <td>
                            <input type="text" [value]="pedidos['cantidad']" (change)="editarPedidos('cantidad',j,$event)">
                        </td>
                        <td>
                            <input type="text" [value]="pedidos['observacion']" (change)="editarPedidos('observacion',j,$event)">
                        </td>
                        <!-- <td>
                            <select class="form-select" [value]="pedidos['estadoAlmacen']" (change)="editarPedidos('estadoAlmacen',j,$event)" aria-label="Default select example">
                                <option selected value="Preparación Completada">Preparación Completada</option>
                                <option value="Preparación Parcial">Preparación Parcial</option>
                                <option value="No Preparado">No Preparado</option>
                            </select>
                        </td> -->
                        <!-- <td *ngIf="j == 0" rowspan="editar.length">
                            <div class="mb-3">
                                <select class="form-select" [value]="editar['estadoOficina']" (change)="editarPedidos('estadoOficina',j,$event)" aria-label="Default select example">
                                    <option selected value="Entrega Completa">Entrega Completa</option>
                                    <option value="Entrega Parcial">Entrega Parcial</option>
                                    <option value="No Entregado">No Entregado</option>
                                </select>
                            </div>
                        </td> -->

                    </tr>


                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
</ng-template>

<ng-template #agregaritem let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Añadir Pedido</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">


        <div class="mb-3" style="overflow-x:auto;">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>PEDIDO</th>
                        <th>CANTIDAD</th>
                        <th>OBSERVACIÓN</th>
                        >
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" (change)="agregarItem('pedido',j,$event)">
                        </td>
                        <td>
                            <input type="number" min="0" (change)="agregarItem('cantidad',j,$event)">
                        </td>
                        <td>
                            <input type="text" (change)="agregarItem('observacion',j,$event)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
</ng-template>