<div>
    <div style="text-align:center;">
        <h3>Listado de Atenciones</h3>
    </div>

    <hr>

    <div>
        <div class="card">
            <div class="card-body">
                <form [formGroup]="formularioInicial" (ngSubmit)="cargarAtenciones(formularioInicial.value)">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-1">Desde:</label>
                        <div class="col-sm-2">
                            <input type="date" formControlName="DESDE" id="staticEmail">
                        </div>

                        <label for="staticEmail" class="col-sm-1">Hasta:</label>
                        <div class="col-sm-2">
                            <input type="date" formControlName="HASTA" id="staticEmail">
                        </div>

                        <div class="col-sm-1" style="text-align: end;">
                            <button class="btn btn-primary btn-sm" style="margin-right: 10px; font-size: 12x">Buscar</button>
                        </div>

                        <div class="col-sm-2" style="text-align: start;">
                            <a class="btn btn-success btn-sm" style="margin-right: 10px; font-size: 12x" (click)="exportarDataExcel()">Descargar Excel</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha y Hora</th>
                    <th scope="col">Cod. Referencia</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Motorizado</th>
                    <th scope="col">Tiempo de Recojo</th>
                    <th scope="col">Distancia Recorrida</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of listaAtenciones; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{dato['timestamp'].seconds*1000 | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{dato['numeroReferencia']}}</td>
                    <td>{{dato['direccionRecojo']}}</td>
                    <td>{{dato['motorizado']}}</td>
                    <td>{{dato['tiempoEspera']}}</td>
                    <td>{{dato['distancia'] | number}} <label *ngIf="dato['distancia']">Km</label></td>
                    <td>{{dato['estado']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>