<div style="position: relative; width: 100%;">

    <div class="card" style="margin-bottom: 10px;">
        <div class="card-body">
            <form [formGroup]="formularioInicial" (ngSubmit)="cargarFormulario(formularioInicial.value)">
                <div class="row">
                    <div class="col-md-2">
                        <label>Ingresar Fecha:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" formControlName="fecha">
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" formControlName="motorizado">
                            <option *ngFor="let user of usuarios">{{user.nombre}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info"><i class="fa fa-search"> Buscar</i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div style="width: 100%; height: auto;">
        <agm-map [latitude]='latitud' [longitude]='longitud' [zoom]="zoom" [fullscreenControl]='true' [mapTypeControl]='true' [fitBounds]="true">
            <agm-marker *ngFor="let coordinate of latitudlongitud; let i=index" [latitude]="coordinate['latitudLlegada']" [longitude]="coordinate['longitudLlegada']" [agmFitBounds]="true">
                <agm-info-window [isOpen]="true" [disableAutoPan]="true" style="padding: 0px;">
                    <form>
                        <div class="row">
                            <div class="col" style="text-align: center;">
                                <label style="font-size: 8pt; width: 200px; margin: 0px; font-weight: bold;">{{coordinate['numeroReferencia']}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: center;">
                                <label style="font-size: 8pt; width: 200px; margin: 0px;">{{coordinate['dtRegistroLlegada']}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: center; width: 200px;">
                                <label style="font-size: 8pt; width: 200px; margin: 0px;">{{coordinate['nombreCompania']}}</label>
                            </div>
                        </div>
                    </form>

                </agm-info-window>
            </agm-marker>
            <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#F00'">
                <agm-polyline-point *ngFor="let coordinate of latitudlongitud; let i=index" [latitude]="coordinate['latitudLlegada']" [longitude]="coordinate['longitudLlegada']">

                </agm-polyline-point>
            </agm-polyline>
        </agm-map>

    </div>
</div>