<div class="card">
    <h5 class="card-header">
        Cargar Pedidos
    </h5>
    <div class="card-body">
        <form [formGroup]="miFormulario" (ngSubmit)="enviar(miFormulario.value)">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Cliente</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="cliente" style="text-transform:uppercase;" autocomplete="off">
            </div>

            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <label for="floatingInputGrid">Pedido</label>
                        <input type="text" class="form-control" formControlName="pedido" style="text-transform:uppercase;" autocomplete="off">
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-floating">
                        <label for="floatingInputGrid">
                            Cantidad :
                            <div class="form-check form-check-inline">
                                    <input type="radio" formControlName="unidad" name="unidad" value="Kg">
                                    <label class="form-check-label" for="inlineRadio1">Kg.</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" formControlName="unidad" name="unidad" value="gr">
                        <label class="form-check-label" for="inlineRadio2">gr.</label>
                    </div>
                    </label>
                    <input type="number" min="0" class="form-control" id="floatingInputGrid" formControlName="cantidad" autocomplete="off">
                </div>
            </div>

    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Observación</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" formControlName="observacion" style="text-transform:uppercase;" autocomplete="off"></textarea>
    </div>





    <button [disabled]="miFormulario.invalid" type="submit" class="btn btn-primary" style="margin-top: 20px;">Añadir</button>
    </form>

    <div *ngIf="itemsPedidosCurso.length > 0" class="card" style="margin-top: 20px;">
        <h5 class="card-header">Lista de Pedidos</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Pedido</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Observación</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedidos of itemsPedidosCurso; let i = index">

                        <td style="text-transform:uppercase;" [ngClass]="getClassPrioridad(pedidos['prioridad'])">{{pedidos['cliente']}}</td>
                        <td style="text-transform:uppercase;" [ngClass]="getClassPrioridad(pedidos['prioridad'])">{{pedidos['pedido']}}</td>
                        <td style="text-transform:uppercase;" [ngClass]="getClassPrioridad(pedidos['prioridad'])">{{pedidos['cantidad']}} {{pedidos['unidad']}} </td>
                        <td style="text-transform:uppercase;" [ngClass]="getClassPrioridad(pedidos['prioridad'])">{{pedidos['observacion']}}</td>
                        <td style="text-transform:uppercase;" [ngClass]="getClassPrioridad(pedidos['prioridad'])">{{pedidos['estadoPedido']}}</td>
                        <td style="text-transform:uppercase;"><button type="button" value="{{pedidos['pedido']}}" (click)="eliminarPedido($event)" class="btn btn-danger">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <div class="card">
                <div class="card-body">
                    <label for="" class="form-label">Modalidad de Pago:</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="modalidadPago" value="crédito" (change)="modalidadPago($event)" checked>
                        <label class="form-check-label" for="exampleRadios1">
                          Crédito
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="modalidadPago" value="contado" (change)="modalidadPago($event)">
                        <label class="form-check-label" for="exampleRadios2">
                          Contado
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="modalidadPago" value="contado oficina" (change)="modalidadPago($event)">
                        <label class="form-check-label" for="exampleRadios2">
                          Contado Oficina
                        </label>
                    </div>

                    <div *ngIf="habilitarEstadoPago == 'contado'" style="margin-top: 15px;">
                        Se efectuó el pago:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" [(ngModel)]="pagoFinalizado" value="Si" id="inlineRadio1">
                            <label class="form-check-label" for="inlineRadio1">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" [(ngModel)]="pagoFinalizado" value="No" id="inlineRadio2">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="prioridad" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Urgente</label>
            </div>

            <button type="button" class="btn btn-primary" (click)="cargarPedido()">Cargar Pedidos</button>

        </div>
    </div>
</div>
</div>