.modal-dialog {
    max-width: 1400px;
    /* New width for default modal */
}

.modal-title {
    width: 100%;
    text-align: center;
}

.close {
    margin: 0;
}

.tableFixHead {
    overflow: auto;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 7px 12px;
    font-size: small;
}

th {
    background: #eee;
}

@media print {
    html,
    body {
        border: 1px solid white;
        height: 99%;
        page-break-after: avoid;
        page-break-before: avoid;
    }
}