<div style="overflow-x:auto;">
    <table style="width: 100%;">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Pedido</th>
                <th scope="col">Cantidad (Kg)</th>
                <th scope="col">Observación</th>
                <th scope="col">Estado</th>
                <th scope="col">Comentario</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedidos of itemsPedidosCurso; let i = index">
                <th scope="row" [ngClass]="getClassPrioridad(pedidos['prioridad'])">{{i+1}}</th>
                <th [ngClass]="getClassPrioridad(pedidos['prioridad'])" style="width: 100px; text-transform:uppercase;">{{pedidos['cliente']}}</th>
                <th [ngClass]="getClassPrioridad(pedidos['prioridad'])" style="min-width: 150px; text-transform:uppercase;">{{pedidos['pedido']}}</th>
                <th [ngClass]="getClassPrioridad(pedidos['prioridad'])" style="min-width: 150px; text-transform:uppercase;">{{pedidos['cantidad']}}</th>
                <th [ngClass]="getClassPrioridad(pedidos['prioridad'])" style="min-width: 150px; text-transform:uppercase;">{{pedidos['observacion']}}</th>
                <th [ngClass]="getClassPrioridad(pedidos['prioridad'])" style="min-width: 150px; text-transform:uppercase;">{{pedidos['estadoPedido']}}</th>
                <th [ngClass]="getClassPrioridad(pedidos['prioridad'])" style="min-width: 150px; text-transform:uppercase;">{{pedidos['comentario']}}</th>
                <th [ngClass]="getClassPrioridad(pedidos['prioridad'])" style="min-width: 120px; text-transform:uppercase;">
                    <div>{{pedidos['fechaCarga']}} </div>
                    <div>{{pedidos['horario']}}</div>
                </th>

                <th><button type="button" class="btn btn-outline-primary" (click)="open(mymodal, pedidos['key'])">Editar</button></th>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Pedido preparado</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">

        <form action=""></form>



        <div class="mb-3">
            <select class="form-select" [(ngModel)]="estado" name="estado" aria-label="Default select example">
                <option selected value="Preparado Completo">Preparado Completo</option>
                <option value="Preparado Parcial">Preparado Parcial</option>
                <option value="No Preparado">No Preparado</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Comentario: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="comentario" name="comentario"></textarea>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
</ng-template>