<div class="contenedor">

    <div class="card">
        <h5 class="card-header" style="text-align: center;">FICHA SINTOMATOLÓGICA</h5>
        <div class="card-body">

            <form [formGroup]="miFormulario" (ngSubmit)="enviar(miFormulario.value)">
                <div style="text-align: center;">


                    <div>
                        <div class="col ">
                            <div class="form-group row ">
                                <label for="inputEmail3 " class="col-sm-4 col-form-label ">Ingresar número de documento</label>
                                <div class="col-sm-8 ">
                                    <div class="form-row ">
                                        <div class="col ">
                                            <input type="text" id="nroDocumento" class="form-control" placeholder="Nro. Doc" formControlName="nroDocumento" (change)="onChange($event.target.value)">
                                        </div>
                                        <div class="col ">
                                            <a class="btn btn-primary " style="width: inherit;" (click)="Cargar()">Buscar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="col-sm-8 ">
                        <div class="col ">
                            <div class="form-group row ">
                                <label for="inputEmail3 " class="col-sm-4 col-form-label ">Nombre Completo: </label>
                                <div class="col-sm-8 ">
                                    <input type="email " class="form-control " id="inputEmail3 " placeholder="Nombre Completo" formControlName="nombreCompleto">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row ">
                        <div class="col ">
                            <div class="form-group row ">
                                <label for="inputEmail3 " class="col-sm-4 col-form-label ">Tipo Doc.: </label>
                                <div class="col-sm-8 ">
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="tipoDocumento">
                                        <option *ngFor="let documento of valoresTipoDocumento" value="{{documento.idcampo}}" >{{documento.descripcioncampo}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="form-group row ">
                                <label for="inputEmail3 " class="col-sm-4 col-form-label ">Nro. Telefono: </label>
                                <div class="col-sm-8 ">
                                    <input type="email " class="form-control " id="inputEmail3 " placeholder="Nro. Teléfono" formControlName="nroTelefono">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row ">
                        <div class="col ">
                            <div class="form-group row ">
                                <label for="inputEmail3 " class="col-sm-4 col-form-label ">Área de Trabajo: </label>
                                <div class="col-sm-8 ">
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="areaTrabajo">
                                        <option *ngFor="let documento of valoresAreaTrabajo" value="{{documento.IdAreaTrabajo}}" >{{documento.Nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="form-group row ">
                                <label for="inputEmail3 " class="col-sm-4 col-form-label ">Puesto de Trabajo: </label>
                                <div class="col-sm-8 ">
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="puestoTrabajo">
                                        <option *ngFor="let documento of valoresPuestoTrabajo" value="{{documento.IdPuesto}}" >{{documento.Nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8 ">
                        <div class="col ">
                            <div class="form-group row ">
                                <label for="inputEmail3 " class="col-sm-4 col-form-label ">Dirección: </label>
                                <div class="col-sm-8 ">
                                    <input type="email " class="form-control " id="inputEmail3 " placeholder="Ingresar Dirección" formControlName="direccion">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <span style="font-size: 8pt;">En los últimos 14 días calendario ha tenido alguno de los siguientes síntomas:</span>

                <table class="table table-striped" style="font-size: 8pt; margin-top: 10px;">
                    <thead>
                        <tr>
                            <th scope="col "></th>
                            <th scope="col "></th>
                            <th scope="col ">Si</th>
                            <th scope="col ">No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row ">1</th>
                            <td>Sensación de alza térmica o fiebre.</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions1" (change)="onChangeIdSintoma1(1)">
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions1" (change)="onChangeIdSintoma1(0)">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row ">2</th>
                            <td>Tos, estornudos o dificultad para respirar.</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" (change)="onChangeIdSintoma2(1)">
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" (change)="onChangeIdSintoma2(0)">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row ">3</th>
                            <td>Expectoración o flema amarilla o verdosa.</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions3" (change)="onChangeIdSintoma3(1)">
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions3" (change)="onChangeIdSintoma3(0)">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row ">4</th>
                            <td>Perdida del gusto y/o olfato.</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions4" (change)="onChangeIdSintoma4(1)">
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions4" (change)="onChangeIdSintoma4(0)">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row ">5</th>
                            <td>Contacto con persona(s) con un caso sospechoso o confirmado de COVID-19.</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions5" (change)="onChangeIdSintoma5(1)">
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions5" (change)="onChangeIdSintoma5(0)">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row ">6</th>
                            <td>Esta tomando algún medicamento.</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions6" (change)="onChangeIdSintoma6(1)">
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions6" (change)="onChangeIdSintoma6(0)">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group" style="font-size: 8pt;" *ngIf="habilitadorDetalles">
                    <label for="exampleFormControlTextarea1">Indicar medicamentos</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="detalles"></textarea>
                </div>

                <div style="font-size: 8pt;">
                    <div class="form-group">
                        <span>Todos los datos expresados en esta ficha constituyen declaración jurada de mi parte.</span>
                    </div>
                    <div class="form-group">
                        <span>He sido informado que de omitir o falsear información puedo perjudicar la salud de mis compañeros, y la mía propia, asumiendo las responsabilidades que correspondan.</span>
                    </div>
                </div>

                <div style="text-align: center;">
                    <button class="btn btn-primary" [disabled]="miFormulario.invalid">Cargar Datos</button>
                </div>


            </form>
        </div>
    </div>

</div>