<div style="overflow-x:auto;" class="texto">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">CLIENTE</th>
                <th scope="col" style="min-width: 220px; max-width: 100px;">PEDIDO</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">CANTIDAD (Kg)</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">OBSERVACIÓN</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">ESTADO (Almacén)</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">COMENTARIO (Almacén)</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">ESTADO (Oficina)</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">COMENTARIO (Oficina)</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">SOLICITANTE</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">FECHA</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">MODALIDAD DE PAGO</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">PAGO FINALIZADO</th>
                <th scope="col" style="min-width: 120px; max-width: 120px;">EDITAR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let valores of valoresPedidos; let i = index">
                <th scope="row" style="vertical-align: inherit; text-align: center; border-top: solid; border-left: solid; border-bottom: solid; ">{{i+1}}</th>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['cliente']}}</td>
                <td colspan="5" style="padding: 0px; border-top: solid; border-bottom: solid; height: 100%;">
                    <div *ngFor="let pedidos of valores.pedidos; let j = index">
                        <td style="width: 220px; text-align: center; height: 80px;">{{pedidos['pedido']}}</td>
                        <td style="width: 120px; text-align: center;">{{pedidos['cantidad']}}</td>
                        <td style="width: 120px; text-align: center;">{{pedidos['observacion']}}</td>
                        <!-- <td style="width: 120px; text-align: center;">{{pedidos['estadoOficina']}}</td>
                        <td style="width: 120px; text-align: center;">{{pedidos['comentarioOficina']}}</td> -->
                        <td style="width: 120px; text-align: center;">{{pedidos['estadoAlmacen']}}</td>
                        <td style="width: 120px; text-align: center;">{{pedidos['comentarioAlmacen']}}</td>
                    </div>
                </td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['estadoOficina']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['comentarioOficina']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['solicitante']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">
                    <div>{{valores['fecha']}}</div>
                    <div>{{valores['hora']}}</div>
                </td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['modalidad']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;">{{valores['pagoFinalizado']}}</td>
                <td style="vertical-align: inherit; text-align: center; border-top: solid; border-bottom: solid;"><button class="btn btn-primary" (click)="open(mymodal, valores['uid'])" [disabled]="(valores['estadoOficina'] == 'Entrega Completa')? true:false">Editar</button></td>

            </tr>
        </tbody>
    </table>

</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Pedido Entregado</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">

        <div class="mb-3">
            <select class="form-select" [(ngModel)]="estado" name="estado" aria-label="Default select example">
                <option selected value="Entrega Completa">Entrega Completa</option>
                <option value="Entrega Parcial">Entrega Parcial</option>
                <option value="No Entregado">No Entregado</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Comentario: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="comentario" name="comentario"></textarea>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
</ng-template>