<div style="zoom: 85%;">

    <div>
        <div style="text-align:center">
            <label style="font-size:25pt">Listado de Servicios del día de Hoy</label>
        </div>

        <div style="width: 100%; overflow-x: auto;" class="fixTableHead">
            <table class="table table-sm" style="font-size: 9pt;">
                <thead style="text-align:center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="min-width: 120px;">Fecha Registro</th>
                        <th scope="col" style="min-width: 100px;">Cod. Referencia</th>

                        <th scope="col" style="min-width: 180px;">Compañia</th>
                        <th scope="col" style="min-width: 400px;">Dirección</th>
                        <th scope="col" style="min-width: 220px;">Motorizado</th>
                        <th scope="col" style="min-width: 220px;">Comentario Adm.</th>
                        <th scope="col" style="min-width: 220px;">Comentario Motori.</th>
                        <th scope="col" style="min-width: 120px;">Forma Pago</th>
                        <th scope="col" style="min-width: 120px;">Monto Recojo (S/.)</th>
                        <th scope="col" style="min-width: 220px;">Tiempo de Llegada (min.)</th>
                        <th scope="col" style="min-width: 220px;">Tiempo de Espera (min.)</th>
                        <th scope="col" style="min-width: 120px;">Estado</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr *ngFor="let dato of servicios; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{dato['fechaRegistro']}} {{dato['horaRegistro']}}</td>
                        <td>{{dato['numeroReferencia']}}</td>
                        <td>{{dato['nombreCompania']}}</td>
                        <td>
                            <p>{{dato['direccion']}}</p>
                            <div class="input-group input-group-sm mb-3" *ngIf="dato.habilitadorAgencia">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Agencia</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly value="{{dato['agencia']}}">
                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly value="{{dato['agenciadireccion']}}">
                            </div>
                        </td>
                        <td>{{dato['motorizado']}}</td>
                        <td>{{dato['observacion']}}</td>
                        <td>{{dato['Observacion']}}</td>
                        <td>{{dato['formaPago']}}</td>
                        <td>{{dato['montoRecibido']}}</td>
                        <td>{{dato['tiempoLlegada'] | number}}</td>
                        <td [ngClass]="{'blanco': dato['tiempoEspera'] == '', 'verde': dato['tiempoEspera'] <= 10 && dato['tiempoEspera'] >= 0, 'amarillo': dato['tiempoEspera'] <= 15 && dato['tiempoEspera'] > 10, 'rojo': dato['tiempoEspera'] > 15}">{{dato['tiempoEspera'] | number}}</td>
                        <td [ngClass]="{'blanco': dato['estado'] == '', 'verde':dato['estado'] == 'Finalizado','amarillo': dato['estado'] == 'Llegada al Destino'}">{{dato['estado']}} <br> {{dato['dtFinRecorrido']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>