<div>
    <div>
        <div>
            <div class="example-header">

                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Realizar Búsqueda">
                        </mat-form-field>
                    </div>
                    <div class="col-md-9">
                        <form [formGroup]="formularioInicial" (ngSubmit)="cargarAtenciones(formularioInicial.value)">
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-1">Desde:</label>
                                <div class="col-sm-2">
                                    <input type="date" formControlName="DESDE" id="staticEmail">
                                </div>

                                <label for="staticEmail" class="col-sm-1">Hasta:</label>
                                <div class="col-sm-2" style="margin-bottom: 5px;">
                                    <input type="date" formControlName="HASTA" id="staticEmail">
                                </div>

                                <div class="col-sm-6" style="text-align: start;">
                                    <button class="btn btn-primary btn-sm" style="margin-right: 10px; font-size: 12pt"><i class="fa fa-search"></i> Buscar</button>
                                    <button class="btn btn-success btn-sm" style="margin-right: 10px; font-size: 12pt"><i class="fa fa-plus-circle"></i> Descargar Excel</button>
                                    <button type="button" class="btn btn-warning btn-sm" style="font-size: 12pt;" data-toggle="modal" data-target="#myModal"><i class="fa fa-search" style="color: #FFF;"></i> Historial Referencia</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

            <div class="example-container mat-elevation-z8">

                <mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="fechaRegistro">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA REGISTRO</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.fechaRegistro}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="numeroReferencia">
                        <mat-header-cell *matHeaderCellDef mat-sort-header># REFERENCIA</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.numeroReferencia}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nombreCompania">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>COMPAÑIA</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.nombreCompania}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="direccionRecojo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>DIRECCION RECOJO</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.direccionRecojo}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="motorizado">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>MOTORIZADO</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.motorizado}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="placa">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>PLACA</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.placa}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="observacion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>MENSAJE</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.observacion}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Observacion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>OBSERVACIÓN MOTORIZADO</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.Observacion}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="formaPago">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>FORMA PAGO</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.formaPago}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="montoRecibido">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>MONTO RECIBIDO (S/.)</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.montoRecibido}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tiempoLlegada">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>TIEMPO LLEGADA</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.tiempoLlegada}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tiempoEspera">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>TIEMPO ESPERA</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'naranja': row.estado == 'Anulado'}">{{row.tiempoEspera}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="{'blanco': row.estado == '', 'naranja':row.estado == 'Anulado', 'verde':row.estado == 'Finalizado','amarillo': row.estado == 'Llegada al Destino'}">{{row.estado}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
            </div>


        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lista de Código de Referencia</h4>
                <button type="button" class="close" #closebutton data-dismiss="modal">&times;</button>
            </div>
            <form [formGroup]="formularioBuscarCodigoReferencia" (ngSubmit)="buscarCodigoReferencia(formularioBuscarCodigoReferencia.value)">
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-10">
                            <input type="text" class="form-control" formControlName="numeroReferencia" style="text-transform:uppercase">
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-warning"><i class="fa fa-search" style="color: #FFF;"></i> Buscar</button>
                        </div>

                    </div>

                    <hr>
                    <div>
                        <div style="width: 100%; overflow-x: auto;">
                            <table class="table table-sm" style="font-size: 9pt;">
                                <thead style="text-align:center">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" style="min-width: 120px;">Fecha Registro</th>
                                        <th scope="col" style="min-width: 100px;">Cod. Referencia</th>
                                        <th scope="col" style="min-width: 180px;">Compañia</th>
                                        <th scope="col" style="min-width: 400px;">Dirección</th>
                                        <th scope="col" style="min-width: 220px;">Motorizado</th>
                                        <th scope="col" style="min-width: 80px;">Placa</th>
                                        <th scope="col" style="min-width: 220px;">Comentario Adm.</th>
                                        <th scope="col" style="min-width: 220px;">Comentario Motori.</th>
                                        <th scope="col" style="min-width: 120px;">Forma Pago</th>
                                        <th scope="col" style="min-width: 120px;">Monto Recojo (S/.)</th>
                                        <th scope="col" style="min-width: 220px;">Tiempo de Llegada (min.)</th>
                                        <th scope="col" style="min-width: 220px;">Tiempo de Espera (min.)</th>
                                        <th scope="col" style="min-width: 120px;">Estado</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:center">
                                    <tr *ngFor="let dato of serviciosBusqueda; let i = index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{dato['fechaRegistro']}} {{dato['horaRegistro']}}</td>
                                        <td>{{dato['numeroReferencia']}}</td>
                                        <td>{{dato['nombreCompania']}}</td>
                                        <td>
                                            <p>{{dato['direccion']}}</p>
                                            <div class="input-group input-group-sm mb-3" *ngIf="dato.habilitadorAgencia">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Agencia</span>
                                                </div>
                                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly value="{{dato['agencia']}}">
                                                <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" readonly value="{{dato['agenciadireccion']}}">
                                            </div>
                                        </td>
                                        <td>{{dato['motorizado']}}</td>
                                        <td>{{dato['placa']}}</td>
                                        <td>{{dato['observacion']}}</td>
                                        <td>{{dato['Observacion']}}</td>
                                        <td>{{dato['formaPago']}}</td>
                                        <td>{{dato['montoRecibido']}}</td>
                                        <td>{{dato['tiempoLlegada'] | number}}</td>
                                        <td [ngClass]="{'blanco': dato['tiempoEspera'] == '', 'verde': dato['tiempoEspera'] <= 10 && dato['tiempoEspera'] >= 0, 'amarillo': dato['tiempoEspera'] <= 15 && dato['tiempoEspera'] > 10, 'rojo': dato['tiempoEspera'] > 15}">{{dato['tiempoEspera'] | number}}</td>
                                        <td [ngClass]="{'blanco': dato['estado'] == '', 'verde':dato['estado'] == 'Finalizado','amarillo': dato['estado'] == 'Llegada al Destino'}">{{dato['estado']}} <br> {{dato['dtFinRecorrido']}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>